.ant-steps-item-process .ant-steps-item-icon {
  background: $secondary-color !important;
  color: $secondary-color !important;
  border-color: $secondary-color !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.ant-steps-item-title::after {
  background-color: $secondary-color !important;
}
.ant-steps-item-finish .ant-steps-item-icon {
  span {
    color: $secondary-color !important;
  }
  color: $secondary-color !important;
  border-color: $secondary-color !important;
}

.ant-btn {
  &.btn_accent_blue {
    box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
    @include btn-round(white, #3d41d7, normal, 15px, null);
  }
  &.btn_accent_orange {
    box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
    @include btn-round(white, #3d41d7, normal, 15px, null);
  }
}

.btn-close {
  align-self: center;
  justify-self: center;
  background: #3d41d7;
  box-shadow: 0px 14px 34px rgba(34, 37, 169, 0.4);
  border-radius: 20px;
  color: white;
}

.ant-layout {
  height: 100% !important;
  background: white;
}

.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
  background: white !important;
  border-radius: 60px !important;
  padding: 10px;

  @media screen and (max-width: $s-medium) {
    padding: 30px 0;
  }
}

.ant-layout-sider {
  height: 100% !important;
  background: $primary-color;
}

.ant-tabs {
  height: 78vh;
  &-tabpane {
    height: 100%;
  }
  &-content {
    height: 100%;
    &-holder {
    }
  }
}
.ant-modal {
  width: fit-content;
  display: flex;
  justify-content: center;
  &-content {
    width: auto;

    position: relative;
    border-radius: 40px !important;
    box-shadow: 6px 6px 16px #becde2, -6px -6px 16px #ffffff !important;
  }
  &-header {
    border-radius: 40px 40px 0 0;
  }
  &-footer {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #242357;
}
::-webkit-scrollbar-track:active {
  background: #242357;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

th {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #9fa2b4;
  padding: 5px 5px;
}
.tdBefore {
  margin: 1% 0;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 40em) {
  .responsiveTable {
    tbody {
      tr {
        border: 1px solid #ebecf3;
        margin: auto 0;
        border-radius: 5px;
        padding: 20px 0;
      }
    }
  }
}

tbody {
  tr {
    border-bottom: 1px solid #ebecf3;
    padding: 10px 2px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-28 17:38:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
