/* Breakpoints */
$small: 440px;
$s-medium: 570px;
$medium: 761px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1250px;

$primary-color: #012240;
$orange-color: #f4694c;
$blueAccent-color: #56ccf2;
$grey-light-color: #e5e5e5;
$grey-color: #d8d8d8;
$secondary-color: #5855d6;
$light-purple:#42427D;  
