.bookings {
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 15px 40px;
  &_content {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .head {
      display: flex;
      justify-content: space-between;
      width: 100%;
      h3 {
        align-self: flex-start;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        margin: auto 0;
        color: $primary-color;
      }
      input[type="date"] {
        position: relative;
        align-self: flex-end;
        border: 1px solid transparent;
        width: 50px;
        height: auto;
        margin-bottom: 10px;
        cursor: pointer;
        color: white;
      }
    }
    input[type="datetime-local"]::-webkit-inner-spin-button,
    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
      /* display: none;
        -webkit-appearance: none; */
      margin: 0;
    }
    input[type="datetime-local"]::-webkit-datetime-edit {
      display: none;
    }

    .list {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      padding: 0 10px;
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        .label-user {
          width: 100%;
          padding-left: 20px;
          padding-bottom: 8px;
          font-size: 18px;
          font-weight: 600;
          color: #243d6f;
          border-bottom: 1px solid #243d6f;
        }
        .hour {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #a4b0c3;
          width: 10%;
        }
        input {
          border: transparent;
          border-bottom: 1px solid gray;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #243d6f;
          width: 70%;
        }

        .w-none {
          width: 0% !important;
        }
        .w-all {
          width: 90% !important;
        }

        button {
          margin: 0 0 0 5%;
          border-radius: 20px;
          border: 2px solid $primary-color;
          color: $primary-color;
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 70%;
          &:hover {
            background: #f0f0f0;
          }
        }

        @media screen and (max-width: $s-medium) {
          flex-direction: column;

          border: 1px solid gray;
          border-radius: 20px;
          padding: 20px;
          input {
            margin: 20px 0;
          }
          button {
            width: 30%;
          }
        }
      }
    }
  }
}

::-webkit-calendar-picker-indicator {
  color: $primary-color;
  opacity: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 0.5rem;
} 

::-webkit-datetime-edit {
  display: none;
}